<%- include('header') %>

    <div class="card-body m-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-dark shadow-dark border-radius-lg pt-2 pb-1 mb-2 w-25">
                <h6 class="text-white text-capitalize ps-3">Edit Admin</h6>
            </div>
        </div>

        <form method="post" action="/updateAdmin/<%= record._id %>" enctype="multipart/form-data">
            <!-- First Name -->
            <div class="input-group input-group-outline mb-3">
                <label class="form-label">First Name</label>
                <input type="text" value="<%= record?.adminFname || '' %>" name="adminFname" class="form-control">
            </div>

            <!-- Last Name -->
            <div class="input-group input-group-outline mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" value="<%= record?.adminLname || '' %>" name="adminLname" class="form-control">
            </div>

            <!-- Email -->
            <div class="input-group input-group-outline mb-3">
                <label class="form-label">Email</label>
                <input type="email" value="<%= record?.adminEmail || '' %>" name="adminEmail" class="form-control">
            </div>

            <!-- Admin Function -->
            <div class="input-group input-group-outline mb-3">
                <select name="adminFunction" class="form-control">
                    <option disabled selected hidden>--Select Your Function--</option>
                    <% const adminFunction=["Manager", "HR", "Web-Developer", "Application-Developer", "UI/UX Designer", "Project Coordinator", "QA Engineer", "DevOps Engineer", "Database Administrator"]; %>
                        <% adminFunction.forEach((func)=> { %>
                            <option value="<%= func %>" <%=record?.adminFunction===func ? 'selected' : '' %>><%= func %>
                            </option>
                            <% }); %>
                </select>
            </div>

            <!-- Admin Status -->
            <div class="input-group input-group-outline mb-3">
                <select name="adminStatus" class="form-control">
                    <option disabled selected hidden>--Enter A Status--</option>
                    <% const adminStatus=["Online", "Offline" ]; %>
                        <% adminStatus.forEach((status)=> { %>
                            <option value="<%= status %>" <%=record?.adminStatus===status ? 'selected' : '' %>><%=
                                    status %>
                            </option>
                            <% }); %>
                </select>
            </div>

            <!-- Join Date -->
            <div class="input-group input-group-outline mb-3">
                <input type="date" name="joinDate" class="form-control" value="<%= record?.joinDate || '' %>">
            </div>

            <!-- Image Upload and Preview -->
            <% if (record?.adminImage) { %>
                <div class="mb-3">
                    <label class="form-label">Current Image:</label><br>
                    <img src="../<%= record.adminImage %>" height="100" style="border-radius: 6px;">
                </div>
                <% } %>

                    <!-- File Upload -->
                    <div class="input-group input-group-outline mb-2">
                        <input type="file" name="adminImage" class="form-control">
                    </div>

                    <!-- Submit -->
                    <div class="text-center">
                        <button type="submit" class="btn bg-gradient-dark btn-lg w-100 mt-2 mb-0">Update Admin</button>
                    </div>
        </form>
    </div>
    <footer class="footer py-4 ">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="copyright text-center text-sm text-muted text-lg-start">
                        ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script>,
                        made with <i class="fa fa-heart text-primary"></i> by
                        <a href="javascript:void(0)" class="font-weight-bold">Creative Tim</a>
                        for a better web.
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link text-muted">Creative Tim</a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link text-muted">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link text-muted">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link pe-0 text-muted">License</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <%- include('footer') %>